{% extends 'includes/layout.html' %}




{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>Pro Mail Writer Demo Version</h1>
    <p class="lead">This is a demo version of Pro-Mail Writer It Helps to Generate the basic Structure Of Mail on the basis of topics Provided
    </p>
  </div>


  <div class="p-5 rounded mt-1">
    <div class="row">


     <!-- One Item Starts Here -->
    
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Cold Emails
          </div>
          <div class="card-body">
            <h5 class="card-title"> ✉️ Pro Mail Writer ✉️ </h5>
            <p class="card-text"></p>
            <a href="/cold-emails" class="btn btn-primary">Start</a>
          </div>
        </div>
      </div>
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      <!-- One Item Ends here -->


      <!-- One Item Starts Here -->
      
      <!-- One Item Ends here -->

      <!-- One Item Starts Here -->
      
      <!-- One Item Ends here -->

    </div>
  </div>
</main>
{% endblock %}
